<form [formGroup]="quickAddForm" (ngSubmit)="onSubmit()">
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" />

  <label for="calories">Calories</label>
  <input
    id="calories"
    [defaultValue]="0"
    type="number"
    min="0"
    formControlName="calories"
  />

  <label for="type">Type</label>
  <select formControlName="type">
    <option *ngFor="let type of mealTypes" [value]="type" x>
      {{ type | titlecase }}
    </option>
  </select>

  <button class="button" type="submit">Add</button>
</form>
