<p>Days logged: {{ dataService.getDaysLogged() }}</p>
<p>
  Highest Calorie Date:
  <a
    [routerLink]="[
      '/dash',
      dataService.getHighestCalorieDate().date | date : 'y-MM-dd'
    ]"
    >{{
      dataService.getHighestCalorieDate().date | date : "EEEE, MMMM d, y"
    }}</a
  >
</p>
<p>
  Lowest Calorie Date:
  <a
    [routerLink]="[
      '/dash',
      dataService.getLowestCalorieDate().date | date : 'y-MM-dd'
    ]"
    >{{ dataService.getLowestCalorieDate().date | date : "EEEE, MMMM d, y" }}</a
  >
</p>
<p>
  Average Calories:
  {{ dataService.getAverageCaloriesPerDay() | number : "1.0-0" | calories }}
</p>
