/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
select {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  &:focus {
    outline: none;
    border-color: #543fd7;
  }
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --border-color: #ccc;
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --alternate-background-color: #f7f7f9;
  --text-color-light: #777676bb;
  --masthead-color: #543fd7;
  --masthead-text: #fff;
  --button-color: #263238;
  --button-text: #fff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  &:hover {
    text-decoration: underline;
    filter: brightness(80%);
  }
}

html[data-theme="light"] {
  --background-color: #fff;
  --accent-50: #b8adfd;
  --accent-75: #9b8cfc;
  --accent-100: #7e6bfb;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme="dark"] {
  --background-color: #212a2e;
  --accent-50: #695cc1;
  --accent-75: #5445b6;
  --accent-100: #493c9d;
  --text-color: #f7f8f8;
  --link-color: #828fff;
}

button {
  background-color: var(--accent-50);
  &:hover {
    background-color: var(--accent-100) !important;
  }
  &.selected {
    background-color: var(--accent-75);
  }
}

select,
input {
  background-color: var(--background-color);
}

[data-theme="dark"] {
  input,
  button,
  select {
    color: var(--text-color);
  }
}
