<div *ngIf="(todaysMeals | async)?.length !== 0; else noData">
  <div *ngFor="let meal of todaysMeals | async">
    <h2>{{ meal.type | titlecase }}</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of meal.foods">
          <td>{{ food.name }}</td>
          <td>{{ food.calories | calories }}</td>
        </tr>
        <tr appTotal>
          <td>Total</td>
          <td>{{ meal.foods | mealSummary | calories }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noData>
  <p id="no-data-msg">
    No data for
    {{ calenderService.selectedDate$ | async | date : "EEEE, MMMM d, y" }}!
  </p>
</ng-template>
