h2 {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--border-color);
  tr {
    border-bottom: 1px solid var(--border-color);
    &:last-child {
      border-bottom: none;
    }
  }
  th,
  td {
    border-right: 1px solid var(--border-color);
    text-align: left;
    padding: 16px;
  }
  th {
    background-color: var(--accent-75);
    color: var(--text-color);
  }
  td {
    width: 50%;
  }
  .total-row {
    background-color: var(--accent-50);
    color: var(--text-color);
  }
}

#no-data-msg {
  text-align: center;
  margin: 20px 0;
  font-size: larger;
}
